[Unit]
Description=Keeper background ssh-agent
After=network-online.target
 
[Service]
Type=forking

ExecStart=%h/.local/bin/keeper-ssh.sh start
ExecStop=%h/.local/bin/keeper-ssh.sh stop

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=default.target